<!DOCTYPE html>
<html>
<head>
	<title>FoodWorks - Products: <%= controller.action_name %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="account">
		<% if current_user %>
		<span>Welcome, <%= current_user.name %></span>
		<%= link_to "logout", logout_path, id: "login" %>
		<% else %>
			Login Using: 
			<%= link_to image_tag("twitter_32.png"), login_path, id: "logout" %>
			<%= link_to image_tag("facebook_32.png") %>
			<%= link_to image_tag("google_32.png") %>
			<%= link_to image_tag("github_32.png") %>
		<% end %>
	</div>
	<div class="wrapper">
		<div class="header">
			<h1>FoodWorks</h1>
			<p>Your Online Grocery</p>
		</div>

		<p style="color: green"><%= flash[:notice] %></p>

		<div class="sidebar">
			(sidebar)
		</div>

		<div class="main">
			<%= yield %>
		</div>

		<div class="footer">
			FoodWorks Online Grocery<br/>
			A Rails Jumpstart Project
		</div>
	</div>
</body>

</html>
